@use '../../styles/variables' as vars;

.header {
  padding: 14px 0;
  background: #fff;
  box-shadow: 0 2px 10px rgba(180, 30, 180, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .header-container {
    margin: auto;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // Logo

  .logo {
    display: flex;
    align-items: center;
    gap: 8px;

    .marker-container {
      width: 30px;
      height: 30px;
      background-color: #8a3ffc;
      border-radius: 50% 50% 50% 0;
      display: grid;
      place-items: center;
      transform: rotate(-45deg);
    }

    i {
      font-size: 24px;
      transform: rotate(45deg);
      color: white;
    }

    span {
      font-family: vars.$font-poppins;
      font-weight: 700;
      font-size: 20px;
      color: vars.$color-primary;
    }
  }

  // Mobile toggle
  .menu-toggle {
    display: none;
    padding: 4px 8px;
    i {
      font-size: 20px;
      color: vars.$color-primary-light;
    }
  }

  // Desktop nav
  .nav-links {
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: center;

    a {
      font-family: vars.$font-poppins;
      font-size: 16px;
      font-weight: 500;
      padding: 8px 20px;
      transition: color 0.2s ease;

      &:hover,
      &.active {
        color: vars.$color-primary;
      }
    }
  }

  .nav-actions {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  // Mobile View to Hide
  .nav-menu-burger {
    display: none;
  }

  .search-toggle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  .btn-login {
    font-family: vars.$font-poppins;
    font-weight: 700;
    font-size: 15px;
    color: vars.$color-primary;
    border: 1.5px solid vars.$color-primary;
    border-radius: 30px;
    padding: 8px 22px;
    i {
      color: vars.$color-primary;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      background: vars.$color-primary;
      color: #fff;
      i {
        color: #fff;
      }
    }
  }

  .btn-signup {
    font-family: vars.$font-poppins;
    font-weight: 800;
    font-size: 15px;
    color: #fff;
    background-color: vars.$color-primary;
    border: 1.5px solid vars.$color-primary;
    border-radius: 30px;
    padding: 8px 22px;
    i {
      color: #fff;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      background: #fff;
      color: vars.$color-primary;
      i {
        color: vars.$color-primary;
      }
    }
  }

  // Mobile breakpoint
  @media (max-width: 1270px) {
    .menu-toggle {
      display: block;
    }

    .header-container {
      > .nav-links,
      > .nav-actions {
        display: none;
      }
    }

    .nav-menu-burger {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      background: white;
      flex-direction: column;
      align-items: flex-start;
      padding: 16px 24px;
      box-shadow: 0 2px 10px rgba(180, 30, 180, 0.1);
      border-bottom-left-radius: 20px;

      &.open {
        display: flex;
      }

      a {
        display: flex;
        align-items: center;
        gap: 10px;

        i {
          width: 20px;
          text-align: center;
        }
      }

      .nav-links-burger {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: 100%;
        padding: 20px 0;
        margin-bottom: 20px;
        border-bottom: 2px solid black;

        a {
          font-family: vars.$font-poppins;
          font-size: 16px;
          font-weight: 500;
          transition: color 0.2s ease;

          i {
            color: vars.$color-primary;
          }

          &:hover,
          &.active {
            color: vars.$color-primary;
          }
        }
      }

      .nav-actions-burger {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
      }
    }
  }
}
