@use '../../styles/variables' as vars;

.search-bar-wrapper {
  width: fit-content;
  .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid vars.$color-primary-dark;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    i {
      color: gray;
      font-size: x-large;
    }
    input {
      padding-left: 5px;
      text-align: center;
      color: vars.$color-primary;
      &::placeholder {
        color: vars.$color-primary;
        font-weight: 500;
      }
      &:focus {
        text-align: left;
      }

      &:focus::placeholder {
        color: transparent;
      }
    }
  }
}
