@use '../../styles/variables' as vars;

:host {
  display: block;
  width: 100%;
}

.card {
  min-height: 200px;
  display: flex;
  justify-content: space-between;
  background: rgba(254, 254, 255, 0.9);
  box-shadow: rgba(194, 194, 194, 0.25) 0px 5px 5px 0px;
  border-radius: 30px;
  padding: 16px 40px;
  transition: all 0.3s ease-in-out;
  .logo {
    height: 200px;
    align-self: center;
    object-fit: contain;
    border: 1px solid #eee;
    border-radius: 10px;
    flex-shrink: 0;
    margin-right: 60px;
  }
  .info {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    .title {
      font-family: vars.$font-poppins;
      font-weight: 600;
      font-size: 24px;
      color: rgb(22, 22, 22);
    }

    .badge-school {
      align-self: flex-start;
      background: #fff;
      border: 1px solid rgb(254, 254, 255);
      border-radius: 30px;
      box-shadow: rgba(194, 194, 194, 0.25) 0px 4px 4px 5px;
      padding: 8px 12px;
      font-size: 14px;
      font-family: vars.$font-poppins;
      font-weight: 500;
    }

    .badges {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }

    .badge {
      display: flex;
      align-items: center;
      gap: 6px;
      background: #fff;
      border: 1px solid rgb(254, 254, 255);
      border-radius: 30px;
      box-shadow: rgba(194, 194, 194, 0.25) 0px 4px 4px 5px;
      padding: 8px 12px;
      font-size: 14px;
      font-family: vars.$font-poppins;
      font-weight: 500;
    }
    .invert-icon i {
      color: white;
      -webkit-text-stroke: 1.5px #333;
    }

    .badge-category {
      .icon-circle {
        border: 1px dashed darkblue;
        border-radius: 40px;
        padding: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .actions {
      display: flex;
      gap: 10px;
      align-items: center;
    }

    .btn-view {
      flex: 1;
      min-width: 0;
      background: white;
      color: vars.$color-primary;
      font-family: vars.$font-poppins;
      font-weight: 600;
      font-size: 18px;
      border: 1px solid vars.$color-primary;
      border-radius: 30px;
      padding: 10px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }
    .btn-view:hover {
      background: vars.$color-primary;
      color: white;
    }

    .btn-fav {
      display: flex;
      align-items: center;
      justify-content: center;
      background: white;
      border-radius: 40px;
      padding: 8px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      i {
        color: vars.$color-primary;
        font-size: 30px;
      }
    }

    .btn-fav:hover {
      background: vars.$color-primary;
      i {
        color: white;
      }
    }
  }
}

.card:hover {
  box-shadow:
    0 0 0 2px vars.$color-primary,
    rgba(194, 194, 194, 0.25) 0px 4px 4px 0px;
  background: vars.$color-primary-lighter;
}

@media (max-width: 1100px) {
  .card {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 16px;
    .logo {
      width: 150px;
      height: 150px;
      margin: 0;
    }
    .info {
      width: 100%;
    }
  }
}
