@use '../../styles/variables' as vars;

.list-wrapper {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 80px 24px 24px;
  @media (max-width: 900px) {
    width: 100%;
    max-width: 100%;
    padding: 80px 0 0;
  }
}
.filters-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
}

.count-pill {
  display: block;
  width: fit-content;
  margin-left: auto;
  font-family: vars.$font-poppins;
  font-size: 14px;
  font-weight: 600;
  color: vars.$color-primary;
  background: white;
  border-radius: 30px;
  padding: 6px 16px;
  margin-bottom: 16px;
}
